<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tipwer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C15CE9A41D8DD4C5000C1C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15CE9B81D8DD4C6000C1C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C15CE9C31D8DD4C6000C1C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
